.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.TopSection {
  width : 100vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  
}

@media screen and (max-width : 480px){
  .TopSection{ 
    flex-direction: column;
  }
}